<footer class="footer" id="contacts">
  <div class="container">
    <div class="interior-div">
      <div class="div-total-information">
        <svg width="84" height="36" class="footer-logo">
          <use href="/img/sprite.svg#icon-yoga-bloom" />
        </svg>
        <p class="footer-paragraph">
          Subscribe to our newsletter for the latest updates on our yoga courses
          and events.
        </p>
        <form class="footer-form">
          <input
            type="email"
            name="email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            placeholder="Your email here"
            class="input-footer"
          />
          <button class="button-footer btn-milk-hover" type="submit">
            Join
          </button>
        </form>
        <p class="paragraph-under-button">
          By subscribing, you consent to our Privacy Policy and agree to receive
          updates.
        </p>
      </div>

      <div class="lists">
        <div class="div-item">
          <h3 class="header">Quick Links</h3>
          <ul class="links-list">
            <li><a href="#popular-programs">Yoga Classes</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a href="#contacts">Contacts</a></li>
          </ul>
        </div>

        <div class="div-item">
          <h3 class="header">Connect With Us</h3>
          <ul class="links-list">
            <li class="item-list-footer">
              <a href="https://www.facebook.com/" target="_blank">
                <div class="icon-div">
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-facebook" />
                  </svg>
                  <span class="span-footer">Facebook</span>
                </div>
              </a>
            </li>
            <li class="item-list-footer">
              <a href="https://www.instagram.com/" target="_blank">
                <div class="icon-div">
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-instagram" />
                  </svg>
                  <span class="span-footer">Instagram</span>
                </div>
              </a>
            </li>
            <li class="item-list-footer">
              <a href="https://www.linkedin.com/" target="_blank">
                <div class="icon-div">
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-linkedin"></use>
                  </svg>
                  <span class="span-footer">LinkedIn</span>
                </div>
              </a>
            </li>
            <li class="item-list-footer">
              <a href="https://www.youtube.com/" target="_blank">
                <div class="icon-div">
                  <svg width="20" height="20">
                    <use href="/img/sprite.svg#icon-youtube"></use>
                  </svg>
                  <span class="span-footer"> YouTube</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <h4 class="last-header">© 2025 Yoga Studio. All rights reserved.</h4>
    </div>
  </div>
</footer>
