<div class="backdrop-one is-open" data-modal>
  <div class="modal-container">
    <div class="modal-content">
      <button type="button" class="closebutton" data-modal-close>
        <svg class="modal-close-svg">
          <use href="../img/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="modal-title">Join Now!</h2>
      <p class="modal-plan">One Session</p>
      <p class="modal-price">$10</p>
      <form class="modal-form">
        <div class="modal-field">
          <label for="name" class="modal-label">Your Name</label>
          <input
            id="name"
            type="text"
            name="name"
            class="modal-input"
            placeholder="Liam"
            required
          />
        </div>
        <div class="modal-row">
          <div class="modal-field">
            <label for="email" class="modal-label">Email</label>
            <input
              id="email"
              type="email"
              name="email"
              class="modal-input"
              placeholder="hello@yogabloom.com"
              required
            />
          </div>
          <div class="modal-field">
            <label for="phone" class="modal-label">Phone number</label>
            <input
              id="phone"
              type="tel"
              name="phone"
              class="modal-input"
              placeholder="+380 95 123 12 12"
              required
            />
          </div>
        </div>
        <div class="button-wrapper">
          <button type="submit" class="checkout-btn">Go to checkout</button>
        </div>
      </form>
    </div>
  </div>
</div>
