<section>
  <div class="container">
    <div class="section-four-container">
      <h2 class="section-four-title">Breathe in the Space</h2>
      <p class="section-four-paragraph">
        Step inside YogaBloom and feel the calm. Explore our serene studio and
        the peaceful moments our community shares during each session.
      </p>
      <ul class="yoga-gallery-list">
        <li>
          <picture>
            <source
              srcset="
                /img/img-for-desk/section-four-img-1-desk.png    1x,
                /img/img-for-desk/section-four-img-1-desk@2x.png 2x
              "
              media="(min-width: 1336px)"
              type="image/png"
            />
            <source
              srcset="
                /img/img-for-tabl/section-four-img-1-tabl.png    1x,
                /img/img-for-tabl/section-four-img-1-tabl@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                /img/img-for-mob/section-four-img-1.png    1x,
                /img/img-for-mob/section-four-img-1@2x.png 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <img
              src="/img/img-for-mob/section-four-img-1.png"
              alt="Group yoga"
            />
          </picture>
        </li>

        <li>
          <picture>
            <source
              srcset="
                /img/img-for-desk/section-four-img-2-desk.png    1x,
                /img/img-for-desk/section-four-img-2-desk@2x.png 2x
              "
              media="(min-width: 1336px)"
              type="image/png"
            />
            <source
              srcset="
                /img/img-for-tabl/section-four-img-2-tabl.png    1x,
                /img/img-for-tabl/section-four-img-2-tabl@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                /img/img-for-mob/section-four-img-2.png    1x,
                /img/img-for-mob/section-four-img-2@2x.png 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <img
              src="/img/img-for-mob/section-four-img-2.png"
              alt="Group yoga"
            />
          </picture>
        </li>

        <li>
          <picture>
            <source
              srcset="
                /img/img-for-desk/section-four-img-3-desk.png    1x,
                /img/img-for-desk/section-four-img-3-desk@2x.png 2x
              "
              media="(min-width: 1336px)"
              type="image/png"
            />
            <source
              srcset="
                /img/img-for-tabl/section-four-img-3-tabl.png    1x,
                /img/img-for-tabl/section-four-img-3-tabl@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                /img/img-for-mob/section-four-img-3.png    1x,
                /img/img-for-mob/section-four-img-3@2x.png 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <img
              src="/img/img-for-mob/section-four-img-3.png"
              alt="Group yoga"
            />
          </picture>
        </li>

        <li>
          <picture>
            <source
              srcset="
                /img/img-for-desk/section-four-img-4-desk.png    1x,
                /img/img-for-desk/section-four-img-4-desk@2x.png 2x
              "
              media="(min-width: 1336px)"
              type="image/png"
            />
            <source
              srcset="
                /img/img-for-tabl/section-four-img-4-tabl.png    1x,
                /img/img-for-tabl/section-four-img-4-tabl@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                /img/img-for-mob/section-four-img-4.png    1x,
                /img/img-for-mob/section-four-img-4@2x.png 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <img
              src="/img/img-for-mob/section-four-img-4.png"
              alt="Group yoga"
            />
          </picture>
        </li>

        <li>
          <picture>
            <source
              srcset="
                /img/img-for-desk/section-four-img-5-desk.png    1x,
                /img/img-for-desk/section-four-img-5-desk@2x.png 2x
              "
              media="(min-width: 1336px)"
              type="image/png"
            />
            <source
              srcset="
                /img/img-for-tabl/section-four-img-5-tabl.png    1x,
                /img/img-for-tabl/section-four-img-5-tabl@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                /img/img-for-mob/section-four-img-5.png    1x,
                /img/img-for-mob/section-four-img-5@2x.png 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <img
              src="/img/img-for-mob/section-four-img-5.png"
              alt="Group yoga"
            />
          </picture>
        </li>

        <li>
          <picture>
            <source
              srcset="
                /img/img-for-desk/section-four-img-6-desk.png    1x,
                /img/img-for-desk/section-four-img-6-desk@2x.png 2x
              "
              media="(min-width: 1336px)"
              type="image/png"
            />
            <source
              srcset="
                /img/img-for-tabl/section-four-img-6-tabl.png    1x,
                /img/img-for-tabl/section-four-img-6-tabl@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                /img/img-for-mob/section-four-img-6.png    1x,
                /img/img-for-mob/section-four-img-6@2x.png 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <img
              src="/img/img-for-mob/section-four-img-6.png"
              alt="Group yoga"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
