<section class="programs-section">
  <div class="container programs-container">
    <span class="programs-span">Explore</span>
    <h2 class="programs-title">Discover Our Most Popular Yoga Programs</h2>
    <p class="programs-description main-description">Join our community and elevate your practice with our expertly
      designed
      yoga
      programs. Each course is tailored to
      meet various skill levels and personal goals.</p>
    <ul class="yoga-type-list">
      <li class="yoga-type">
        <div class="beginner-yoga">
          <picture>
            <source srcset="/img/img-for-mob/section-two-img-1.png 1x, /img/img-for-mob/section-two-img-1@2x.png 2x"
              media="(max-width: 767px)" type="image/png">
            <source
              srcset="/img/img-for-tabl/section-two-img-1-tabl.png 1x, /img/img-for-tabl/section-two-img-1-tabl@2x.png 2x,"
              media="(min-width: 768px)" type="image/png">
            <source
              srcset="/img/img-for-desk/section-two-img-one-desk.png 1x, /img/img-for-desk/section-two-img-1-desk@2x.png 2x,"
              media="(min-width: 1336px)" type="image/png">
            <img src="/img/img-for-mob/section-two-img-1.png" alt="women are doing yoga" max-width="100%" height="auto">
          </picture>
          <h3 class="programs-name">Beginner
            Yoga: Foundations <span class="mobile-only"> for New Practitioners</span>
          </h3>
          <p class="programs-description">Learn the basics of yoga in a supportive environment.</p>
        </div>
      </li>
      <li class="yoga-type">
        <div class="vinyasa-flow">
          <picture>
            <source srcset="/img/img-for-mob/section-two-img-2.png 1x, /img/img-for-mob/section-two-img-2@2x.png 2x"
              media="(max-width: 767px)" type="image/png">
            <source
              srcset="/img/img-for-tabl/section-two-img-2-tabl.png 1x, /img/img-for-tabl/section-two-img-2-tabl@2x.png 2x"
              media="(min-width: 768px)" type="image/png">
            <source
              srcset="/img/img-for-desk/section-two-img-2-desk.png 1x, /img/img-for-desk/section-two-img-2-desk@2x.png 2x"
              media="(min-width: 1336px)" type="image/png">
            <img src="/img/img-for-mob/section-two-img-2.png" alt="woman is doing yoga" max-width="100%" height="auto">
          </picture>
          <h3 class="programs-name">Vinyasa Flow: Energize Your Body and Mind</h3>
          <p class="programs-description">Experience a dynamic sequence that connects breath and movement.</p>
        </div>
      </li>
      <li class="yoga-type">
        <div class="restorative-yoga">
          <picture>
            <source srcset="/img/img-for-mob/section-two-img-3.png 1x, /img/img-for-mob/section-two-img-3@2x.png 2x"
              media="(max-width: 767px)" type="image/png">
            <source
              srcset="/img/img-for-tabl/section-two-img-3-tabl.png 1x, /img/img-for-tabl/section-two-img-3-tabl@2x.png 2x"
              media="(min-width: 768px)" type="image/png">
            <source
              srcset="/img/img-for-desk/section-two-img-3-desk.png 1x, /img/img-for-desk/section-two-img-3-desk@2x.png 2x"
              media="(min-width: 1336px)" type="image/png">
            <img src="/img/img-for-mob/section-two-img-3.png" alt="human is meditating" max-width="100%" height="auto">
          </picture>
          <h3 class="programs-name">Restorative Yoga: Deep Relaxation and Healing</h3>
          <p class="programs-description">Unwind and rejuvenate with gentle poses and mindfulness.</p>
        </div>
      </li>
    </ul>
    <a href="#pricing" class="programs-join-btn mobile-only">Join</a>
    <a href="#pricing" class="programs-join-btn tablet-desktop">Join now</a>
  </div>
</section>