/* header-page */
.header-page {
  height: 64px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* navigation header  */

.header-navigation-list {
  display: none;
}

.header-mob {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

.navbar-svg {
  fill: #0d0b0a;
  stroke: #0d0b0a;
}

/* logo yogabloom */
.logo-link {
  display: flex;
}
.logo-link-svg {
  stroke: black;
  fill: #fff;
}

/* a-Join */
.link-join {
  display: flex;
  justify-content: center;
  background: #c2d9fc;
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  width: 74px;
  height: 34px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
}
.join-p {
  padding: 4px 22px;
}

@media (min-width: 768px) {
  .header-page {
    height: 72px;
  }
}

@media (min-width: 1336px) {
  .header-container {
    max-height: 1440px;
    height: 72px;
  }
  .header-navigation-list {
    display: flex;
    gap: 32px;
    align-items: center;
  }
  .navigation-item-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #0d0b0a;
  }
  .navbar-button {
    display: none;
  }
  /* .header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } */

  .header-navigation {
    display: flex;
    justify-content: space-between;
  }
  .header-mob {
    display: flex;
  }
  .logo-link {
    margin-right: 509px;
    background: #0d0b0a;
  }
}

/* navbar mobile menu */
