/* header-container */
.header-page {
  background-color: #f2fafa;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* navigation header  */

/* logo yogabloom */

/* a-Join */

/* navbar mobile menu */
