body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}
.programs-section {
  padding: 64px 0;
}
@media only screen and (min-width: 768px) {
  .programs-section {
    background-color: unset;
    padding: 40px 0;
  }
}
@media only screen and (min-width: 1336px) {
  .programs-section {
    background-color: unset;
    padding: 112px 0;
  }
}
.programs-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .programs- container {
    max-width: 768px;
    padding: 0 32px;
  }
}
.programs-span {
  font-family: 'Sarabun', sans-serif;
  display: block;
  font-weight: 600;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  text-align: center;
  color: #000000;
  margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
  .programs-span {
    margin-bottom: 14px;
  }
}
@media only screen and (min-width: 1336px) {
  .programs-span {
    margin-bottom: 16px;
  }
}
.programs-title {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .programs-title {
    margin-bottom: 24px;
  }
}
@media only screen and (min-width: 1336px) {
  .pop-program-h {
    width: 768px;
    font-size: 52px;
  }
}
.programs-description {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 26px; */
  line-height: 1.6;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-bottom: 48px;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .programs-description {
    font-size: 18px;
    margin-bottom: 40px;
    display: block;
  }
  .main-description {
    max-width: 704px;
  }
}
@media only screen and (min-width: 1336px) {
  .main-description {
    max-width: 768px;
  }
}
.programs-section picture,
.programs-section img {
  margin-bottom: 24px;
  max-width: 100%;
  height: auto;
}
@media only screen and (min-width: 768px) {
  .programs-section picture,
  .programs-section img {
    margin-bottom: 16px;
  }
}
@media only screen and (min-width: 1336px) {
  .programs-section picture,
  .programs-section img {
    margin-bottom: 32px;
  }
}
.programs-name {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 24px;

  /* line-height: 34px; */
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .programs-name {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1336px) {
  .programs-name {
    font-size: 36px;
    margin-bottom: 24px;
  }
}
.yoga-type-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}
@media only screen and (min-width: 768px) {
  .yoga-type-list {
    column-gap: 24px;
    row-gap: 27px;
  }
}
@media only screen and (min-width: 1336px) {
  .yoga-type-list {
    row-gap: 0;
  }
}

.yoga-type {
  flex-basis: 100%;
}
@media only screen and (min-width: 768px) {
  .yoga-type {
    flex-basis: calc((100% - 24px) / 2);
  }
  .yoga-type:nth-child(3) {
    flex-basis: 100%;
  }
}
@media only screen and (min-width: 1336px) {
  .yoga-type {
    flex-basis: calc((100% - 48px) / 3);
  }
  .yoga-type:nth-child(3) {
    flex-basis: calc((100% - 48px) / 3);
  }
}
.restorative-yoga {
  margin-bottom: 48px;
}
.tablet-desktop {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.programs-join-btn {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 1.6;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border: 1px solid #d5e5fa;
  border-radius: 100px;
  width: 341px;
  height: 44px;
  background: #d5e5fa;
  transition: background-color 0.3s ease;
}

@media only screen and (min-width: 768px) {
  .programs-join-btn {
    width: 108px;
    height: 44px;
    background-color: #c2d9fc;
    border: 1px solid #c2d9fc;
    border-radius: 100px;
    padding: 10px 24px;
  }
  .mobile-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .tablet-desktop {
    position: static;
    margin: 0;
    border: 1px solid #d5e5fa;
    padding: initial;
    white-space: normal;
    clip-path: none;
    clip: auto;
    overflow: visible;
  }
}
